<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">

    <title>Simulation V0.0.1 🚦🗺</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>

    <script src="{{ url_for('static', filename='js/global.js') }}"></script>

  </head>

  <body>

<!-- <img src="{{ url_for('static', filename='media/car-red-straight.png') }}" />
<img src="{{ url_for('static', filename='media/car-orange-straight.png') }}" />
<img src="{{ url_for('static', filename='media/car-green-straight.png') }}" />
<img src="{{ url_for('static', filename='media/car-yellow-straight.png') }}" />
<img src="{{ url_for('static', filename='media/car-grey-straight.png') }}" />
<img src="{{ url_for('static', filename='media/car-blue-straight.png') }}" />
<img src="{{ url_for('static', filename='media/car-red-right.png') }}" />
<img src="{{ url_for('static', filename='media/car-orange-right.png') }}" />
<img src="{{ url_for('static', filename='media/car-green-right.png') }}" />
<img src="{{ url_for('static', filename='media/car-yellow-right.png') }}" />
<img src="{{ url_for('static', filename='media/car-grey-right.png') }}" />
<img src="{{ url_for('static', filename='media/car-blue-right.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-red-straight.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-orange-straight.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-green-straight.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-yellow-straight.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-grey-straight.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-blue-straight.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-red-right.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-orange-right.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-green-right.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-yellow-right.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-grey-right.png') }}" />
<img src="{{ url_for('static', filename='media/bicycle-blue-right.png') }}" /> -->


    <div id="map-container">
      <!-- <h1 style="color: white; position: absolute;">Hello World!</h1> -->
    </div>

    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>

  </body>

</html>
